@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #EBC79E;
}


.header{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin: 8px;
    .btn-login{
        background-color: #006600;
        color: #ccc;
        font-size: 16px;
    }
    .btn-register{
        background-color: #990000;       
        color: #ccc;
        font-size: 16px;
    }
}


.sidebar {
    position: fixed; /* Fixa a sidebar na tela */
    top: 0;          /* Faz com que a sidebar comece do topo da tela */
    left: 0;         /* Faz com que a sidebar comece do lado esquerdo da tela */
    width: 250px;
    height: 100vh;
    background-color: #97694F;
    color: #CCC;
    padding: 15px;
    box-sizing: border-box;
    border-right: 4px solid #5C4033;
    z-index: 100;
}

.sidebar a {
    color: #CCC;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #5C4033;
}

.sidebar a:hover {
    background-color: #5C4033;
    color: white;
}
